# Dependencies
node_modules/

# Environment and Config
.env*
*.env
.env-prod
.ngrok.yml

# Data files
playerData.json
safariContent.json

# System files
desktop.ini
.DS_Store
Thumbs.db

# Logs and temp
logs/
*.log
.archive/
.supporting/

# SSH keys
castbot-key.pem
*.pem

# VS Code shit
.vscode/settings.json
.vscode/settings.local.json

# Secrets
.env.local
